@model GigHub.ViewModels.GigFormCreate
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Gig</h2>

@using (Html.BeginForm("Create", "Gigs",FormMethod.Post,new { @class="Create-Form"}))
{
    <!--For Validate CSRF attackers-->
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(n => n.Location)
        @Html.TextBoxFor(n => n.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Location)
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Date)
        <input type="date" class="form-control" name="Date" required>
        @Html.ValidationMessageFor(n => n.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Time)
        <input type="time" class="form-control" name="Time" required>
        @Html.ValidationMessageFor(n => n.Time)
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Genre)
        @Html.DropDownListFor(n => n.Genre, new SelectList(ViewBag.types, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Genre)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}







